* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #002f72;
  color: whitesmoke;
  margin: 0 40px;
}
/* font Sizes */
h2 {
  font-size: 2.5rem;
  line-height: 150%;
}
h4 {
  font-size: 1.5rem;
  line-height: 150%;
}
p {
  font-size: 1.125rem;
  line-height: 150%;
}
/* slider css */
.slider-container {
  z-index: -1;
  width: 300px;
  height: 450px;
  text-align: center;
}

.gallerySlider {
  margin: 30px auto;
  width: 400px;
  height: auto;
  text-align: center;
}
.gallerySlider img {
  display: block;
  margin: auto 0;
}
.slider-container img {
  width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}
.custom-dot {
  width: 10px;
  height: 10px;
  background-color: #e34d73;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.custom-dot.active {
  opacity: 1;
}

/* end of  slider css */
/* title layout */
.titleContainer {
  display: flex;
  align-items: center;
}

.line {
  flex: 1;
  border-bottom: 1px solid whitesmoke;
  margin-left: 30px;
}
/* btn layout */
.btn {
  /* padding: 10px 20px; */
  min-width: 125px;
  max-width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #e34d73;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 150%;
  color: lightgray;
}
.btn:hover {
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
  background-color: #f9698d;
  color: black;
  transform: translateY(-4px);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* pages, components */
#books,
#about,
#contactPage,
#freeSense,
#home,
#blogs {
  max-width: 1360px;
  margin: 30px auto;
}
#footer,
#nav {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}
#nav {
  position: sticky;
  background-color: #002f72;
  padding-bottom: 20px;
  padding-top: 20px;
  z-index: 100;
}
/* List */
.list {
  list-style-type: none;
}
@media (max-width: 767px) {
  .gallerySlider {
    width: 320px;
  }
  .gallerySlider img {
    margin: 5px 0;
  }
}
@media (max-width: 567px) {
  .gallerySlider {
    width: 275px;
  }
  .slider-container {
    width: 275px;
  }
}

@media (max-width: 1024px) {
  h4 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 767px) {
  body {
    margin: 0 30px;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.125rem;
  }
}
