* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-color: #002f72;
  color: whitesmoke; */
  margin: 0 40px;
}
/* font Sizes */
h2 {
  font-size: 2.5rem;
  line-height: 150%;
}
h4 {
  font-size: 1.5rem;
  line-height: 150%;
}
p {
  font-size: 1.125rem;
  line-height: 150%;
}
@media (max-width: 1024px) {
  h4 {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  body {
    margin: 0 25px;
  }
  p {
    font-size: 1rem;
  }
  h4 {
    font-size: 1.125rem;
  }
}
/* btn layout */
.btn {
  /* padding: 10px 20px; */
  min-width: 125px;
  max-width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #e34d73;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  line-height: 150%;
}

/* pages, components */
#footer,
#books,
#about,
#contactPage {
  max-width: 1360px;
  margin: 50px auto;
}
/* List */
.list {
  list-style-type: none;
}
