.featuredContainer {
  display: flex;
  gap: 70px;
  align-items: center;
  margin: 20px 0;
  padding-left: 70px;
  padding-right: 50px;
}
.learnMore {
  display: inline-block;
  margin-top: 20px;
  float: right;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.learnMore:hover {
  color: #e34d73;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .featuredContainer {
    padding-left: 60px;
    padding-right: 40px;
  }
}
@media (max-width: 864px) {
  .featuredContainer {
    padding-left: 50px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  .featuredContainer {
    flex-direction: column;
    padding: 0 10px;
    gap: 30px;
  }
}
