.testimonialSection {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 99%;
}
.testimonialTitle {
  text-align: center;
}
.testimonialContainer {
  display: flex;
  align-items: center;
  gap: 50px;
}
.testimonialForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.name,
.email {
  padding: 5px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  width: 550px;
  font-size: 1rem;
  line-height: 150%;
  background: none;
  transition: width 1s ease;
  color: lightgray;
}
.dropdown {
  border: none;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 5px;
  font-size: 1rem;
  color: grey;
  margin-bottom: 10px;
  width: 550px;
  background: none;
  transition: width 1s ease;
}
.testimonial {
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 10px;
  padding-top: 5px;
  line-height: 150%;
  width: 550px;
  background: none;
  border: 1px solid whitesmoke;
  margin-top: 15px;
  transition: width 1s ease;
  color: lightgray;
}
.submitBtn {
  margin-left: auto;
}

@media (max-width: 1440px) {
  .email,
  .name,
  .dropdown,
  .testimonial {
    width: 450px;
  }
}
@media (max-width: 1240px) {
  .email,
  .name,
  .dropdown,
  .testimonial {
    width: 400px;
  }
}
@media (max-width: 1024px) {
  .email,
  .name,
  .dropdown {
    width: 330px;
  }
  .testimonial {
    width: 330px;
  }
}
@media (max-width: 767px) {
  .testimonialContainer {
    flex-direction: column;
    gap: 30px;
  }
  .email,
  .name,
  .testimonial,
  .dropdown {
    font-size: 0.875rem;
  }
}
