.bookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: auto;
}
.eachBookContainer {
  text-align: center;
}
.eachBookContainer h2 {
  cursor: pointer;
}

.bookCover {
  width: 450px;
  transition: width 1s ease;
}
.bookCover:hover {
  cursor: pointer;
  transform: translate(-4px, -4px);
  box-shadow: 4px 6px 8px rgba(227, 77, 115, 0.5);
  transition: color 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 1440px) {
  .bookCover {
    width: 430px;
  }
}
@media (max-width: 1240px) {
  .bookCover {
    width: 400px;
  }
}
@media (max-width: 1024px) {
  .bookCover {
    width: 360px;
  }
}
@media (max-width: 767px) {
  .bookCover {
    width: 320px;
  }
}
@media (max-width: 567px) {
  .bookCover {
    width: 300px;
  }
}
